apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: devsu-app-pvc
  namespace: devsu-demo
  labels:
    app: devsu-demo-app
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  # storageClassName: standard  # Descomenta para especificar storage class
